* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  text-align: center;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
}

.yellow-word {
  color: yellow;
}
